.Header {
  text-align: center;
  margin-top: 1em;
  .p-button{
    background-color: transparent;
    border: none;
    
  }
  img{
    width: 42%;

  }
}

.Carroussel{
  img{
    width: 100%;
  }
}
